[submodule "Porfolio/mldangelo"]
	path = Examples/Portfolio/mldangelo
	url = https://github.com/mldangelo/mldangelo.git
[submodule "Porfolio/react-resume-template"]
	path = Templates/react-resume-template
	url = https://github.com/tbakerx/react-resume-template.git
[submodule "Porfolio/react-sketchapp-resume"]
	path = Examples/Portfolio/react-sketchapp-resume
	url = https://github.com/francoischalifour/react-sketchapp-resume.git
[submodule "Porfolio/personal-website-template"]
	path = Templates/personal-website-template
	url = https://github.com/The-WebOps-Club/personal-website-template.git
[submodule "Porfolio/hankquinlan.github.io"]
	path = Examples/Portfolio/hankquinlan.github.io
	url = https://github.com/hankquinlan/hankquinlan.github.io.git
[submodule "Portfolio/devportfolio"]
	path = Examples/Portfolio/devportfolio
	url = https://github.com/RyanFitzgerald/devportfolio.git
[submodule "Portfolio/resume"]
	path = Examples/Portfolio/resume
	url = https://github.com/knommon/resume.git
[submodule "Portfolio/woodburyshortridge.github.io"]
	path = Examples/Portfolio/woodburyshortridge.github.io
	url = https://github.com/WoodburyShortridge/woodburyshortridge.github.io.git
[submodule "Misc/can-i-see"]
	path = Examples/can-i-see
	url = https://github.com/carmalou/can-i-see.git
[submodule "Finance/FamilyFinance"]
	path = Examples/FamilyFinance
	url = https://github.com/farminf/FamilyFinance.git
[submodule "react-skeleton"]
	path = Skeletons/react-skeleton
	url = https://github.com/farminf/react-skeleton.git
[submodule "angular-skeleton"]
	path = Skeletons/angular-skeleton
	url = https://github.com/farminf/Angular_Skeleton.git
[submodule "leetrunghoo.github.io"]
	path = Examples/Portfolio/leetrunghoo.github.io
	url = https://github.com/leetrunghoo/leetrunghoo.github.io.git
[submodule "Portfolio/kristin-baumann"]
	path = Examples/Portfolio/kristin-baumann
	url = https://github.com/kristinbaumann/personal-website.git
[submodule "Portfolio/blog"]
	path = Examples/Portfolio/blog
	url = https://github.com/jesusoterogomez/blog.git
[submodule "Portfolio/website2015"]
	path = Examples/Portfolio/website2015
	url = https://github.com/jesusoterogomez/website2015.git
[submodule "Portfolio/personal-website-2017"]
	path = Examples/Portfolio/personal-website-2017
	url = https://github.com/jesusoterogomez/personal-website-2017.git
[submodule "Libraries/three.js"]
	path = Libraries/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "Libraries/Babylon.js"]
	path = Libraries/Babylon.js
	url = https://github.com/BabylonJS/Babylon.js.git
[submodule "Libraries/pixi.js"]
	path = Libraries/pixi.js
	url = https://github.com/pixijs/pixi.js.git
[submodule "Libraries/twgl.js"]
	path = Libraries/twgl.js
	url = https://github.com/greggman/twgl.js.git
[submodule "Examples/RPi/resin-wpe"]
	path = Examples/RPi/resin-wpe
	url = https://github.com/resin-io-projects/resin-wpe.git
[submodule "Examples/360blick-frontend"]
	path = Examples/360blick-frontend
	url = https://github.com/ddneat/360blick-frontend.git
[submodule "Examples/gl-react-v2"]
	path = Examples/gl-react-v2
	url = https://github.com/gre/gl-react-v2.git
[submodule "Examples/react-three-renderer"]
	path = Examples/react-three-renderer
	url = https://github.com/toxicFork/react-three-renderer.git
[submodule "Examples/react-three"]
	path = Examples/react-three
	url = https://github.com/Izzimach/react-three.git
[submodule "Examples/r3test"]
	path = Examples/r3test
	url = https://github.com/Izzimach/r3test.git
[submodule "Examples/spring-boot-mongodb-angular-todo-app"]
	path = Examples/spring-boot-mongodb-angular-todo-app
	url = https://github.com/callicoder/spring-boot-mongodb-angular-todo-app.git
[submodule "Skeletons/polymer-skeleton"]
	path = Skeletons/polymer-skeleton
	url = https://github.com/PolymerX/polymer-skeleton.git
[submodule "Skeletons/gulp-angular-skeleton"]
	path = Skeletons/gulp-angular-skeleton
	url = https://github.com/hannaliebl/gulp-angular-skeleton.git
[submodule "Examples/threeJsBasicExamples"]
	path = Examples/threeJsBasicExamples
	url = https://github.com/alexmackey/threeJsBasicExamples.git
[submodule "Examples/PluralsightWebinar_ThreeJs"]
	path = Examples/PluralsightWebinar_ThreeJs
	url = https://github.com/alexmackey/PluralsightWebinar_ThreeJs.git
[submodule "Examples/IntroToWebGLWithThreeJS"]
	path = Examples/IntroToWebGLWithThreeJS
	url = https://github.com/alexmackey/IntroToWebGLWithThreeJS.git
[submodule "Examples/webgl-3d-model-viewer-using-three.js"]
	path = Examples/webgl-3d-model-viewer-using-three.js
	url = https://github.com/Lorti/webgl-3d-model-viewer-using-three.js.git
[submodule "Examples/3D-ThreeJS"]
	path = Examples/3D-ThreeJS
	url = https://github.com/LambdaSchool/3D-ThreeJS.git
[submodule "Examples/vtk-js"]
	path = Examples/vtk-js
	url = https://github.com/Kitware/vtk-js.git
[submodule "Examples/RPi/PiViewer"]
	path = Examples/RPi/PiViewer
	url = https://github.com/patcat/PiViewer.git
[submodule "Libraries/xeogl"]
	path = Libraries/xeogl
	url = https://github.com/xeolabs/xeogl
[submodule "Examples/mediaelement"]
	path = Examples/mediaelement
	url = https://github.com/mediaelement/mediaelement.git
[submodule "Examples/RemoteCamera"]
	path = Examples/RemoteCamera
	url = https://github.com/eqot/RemoteCamera.git
[submodule "Examples/webcamjs"]
	path = Examples/webcamjs
	url = https://github.com/jhuckaby/webcamjs.git
[submodule "Examples/Portfolio/alexbain.github.com"]
	path = Examples/Portfolio/alexbain.github.com
	url = https://github.com/alexbain/alexbain.github.com.git
[submodule "Libraries/phoria.js"]
	path = Libraries/phoria.js
	url = https://github.com/kevinroast/phoria.js.git
[submodule "Libraries/GrimoireJS"]
	path = Libraries/GrimoireJS
	url = https://github.com/GrimoireGL/GrimoireJS.git
[submodule "Libraries/CamanJS"]
	path = Libraries/CamanJS
	url = https://github.com/meltingice/CamanJS.git
[submodule "jeelizFaceFilter"]
	path = Examples/jeelizFaceFilter
	url = https://github.com/jeeliz/jeelizFaceFilter.git
[submodule "lab-webgl-home"]
	path = Examples/lab-webgl-home
	url = https://github.com/jolicode/lab-webgl-home.git
[submodule "Leap-Three-Camera-Controls"]
	path = Examples/Leap-Three-Camera-Controls
	url = https://github.com/leapmotion/Leap-Three-Camera-Controls.git
[submodule "webgl-fundamentals"]
	path = Examples/webgl-fundamentals
	url = https://github.com/greggman/webgl-fundamentals.git
[submodule "Libraries/webcamjs"]
	path = Libraries/webcamjs
	url = https://github.com/jhuckaby/webcamjs.git
[submodule "Libraries/reveal.js"]
	path = Libraries/reveal.js
	url = https://github.com/willy-vvu/reveal.js.git
[submodule "3d-scanning-experiments"]
	path = Examples/3d-scanning-experiments
	url = https://github.com/gerardobort/3d-scanning-experiments.git
[submodule "Libraries/webxr"]
	path = Libraries/webxr
	url = https://github.com/immersive-web/webxr.git
[submodule "Libraries/aframe"]
	path = Libraries/aframe
	url = https://github.com/aframevr/aframe.git
[submodule "Examples/BBB/html-js-robot"]
	path = Examples/BB/html-js-robot
	url = https://github.com/charifmahmoudi/html-js-robot.git
[submodule "Examples/RPi/webofthings.js"]
	path = Examples/RPi/webofthings.js
	url = https://github.com/webofthings/webofthings.js.git
[submodule "Examples/RPi/rpi-webrtc-streamer"]
	path = Examples/RPi/rpi-webrtc-streamer
	url = https://github.com/kclyu/rpi-webrtc-streamer.git
[submodule "Examples/RPi/rpi-webrtc-streamer-frontend"]
	path = Examples/RPi/rpi-webrtc-streamer-frontend
	url = https://github.com/kclyu/rpi-webrtc-streamer-frontend.git
[submodule "Examples/node-todo"]
	path = Examples/node-todo
	url = https://github.com/scotch-io/node-todo.git
[submodule "Examples/RPi/node-angular-raspberry-pi-dashboard"]
	path = Examples/RPi/node-angular-raspberry-pi-dashboard
	url = https://github.com/strongloop-community/node-angular-raspberry-pi-dashboard.git
[submodule "Examples/starter-node-angular"]
	path = Examples/starter-node-angular
	url = https://github.com/scotch-io/starter-node-angular.git
[submodule "Examples/simplest-redux-example"]
	path = Examples/simplest-redux-example
	url = https://github.com/jackielii/simplest-redux-example.git
[submodule "Examples/my-simple-app"]
	path = Examples/my-simple-app
	url = https://github.com/tylerbuchea/my-simple-app.git
[submodule "Examples/Contact-List-React-Redux"]
	path = Examples/Contact-List-React-Redux
	url = https://github.com/miguelsaddress/Contact-List-React-Redux.git
[submodule "Examples/ReactElectronImageBrowser"]
	path = Examples/ReactElectronImageBrowser
	url = https://github.com/manojsinghnegiwd/ReactElectronImageBrowser.git
[submodule "Examples/react-Image-Slider"]
	path = Examples/react-Image-Slider
	url = https://github.com/manojsinghnegiwd/react-Image-Slider.git
[submodule "Examples/react-webcam"]
	path = Examples/react-webcam
	url = https://github.com/mozmorris/react-webcam.git
[submodule "Examples/React_Image_Display"]
	path = Examples/React_Image_Display
	url = https://github.com/inkblotty/React_Image_Display.git
[submodule "Examples/react-cloudinary"]
	path = Examples/react-cloudinary
	url = https://github.com/damonbauer/react-cloudinary.git
[submodule "Examples/RPi/Picam360/picam360-server"]
	path = Examples/RPi/Picam360/picam360-server
	url = https://github.com/picam360/picam360-server.git
[submodule "Examples/RPi/Picam360/picam360-viewer"]
	path = Examples/RPi/Picam360/picam360-viewer
	url = https://github.com/picam360/picam360-viewer.git
[submodule "Examples/RPi/Picam360/picam360-hardware"]
	path = Examples/RPi/Picam360/picam360-hardware
	url = https://github.com/picam360/picam360-hardware.git
[submodule "Examples/RPi/Picam360/picam360-capture"]
	path = Examples/RPi/Picam360/picam360-capture
	url = https://github.com/picam360/picam360-capture.git
[submodule "Examples/RPi/thermoman-360"]
	path = Examples/RPi/thermoman-360
	url = https://github.com/fauria/thermoman-360.git
[submodule "Libraries/p5.js"]
	path = Libraries/p5.js
	url = https://github.com/processing/p5.js.git
[submodule "Libraries/vvvv.js"]
	path = Libraries/vvvv.js
	url = https://github.com/zauner/vvvv.js.git
[submodule "Libraries/mustache.js"]
	path = Libraries/mustache.js
	url = https://github.com/janl/mustache.js.git
[submodule "Examples/thermografree"]
	path = Examples/thermografree
	url = https://github.com/loganwilliams/thermografree.git
[submodule "Examples/RPi/RaspiThermalCam"]
	path = Examples/RPi/RaspiThermalCam
	url = https://github.com/rgrokett/RaspiThermalCam.git
[submodule "Examples/webgl-hdr"]
	path = Examples/webgl-hdr
	url = https://github.com/szimek/webgl-hdr.git
[submodule "Examples/React-GL"]
	path = Examples/React-GL
	url = https://github.com/PixelsCommander/React-GL.git
[submodule "Examples/ScrollSpiral"]
	path = Examples/ScrollSpiral
	url = https://github.com/codrops/ScrollSpiral.git
[submodule "Examples/numgl"]
	path = Examples/numgl
	url = https://github.com/jongomez/numgl.git
[submodule "Examples/threejs-intro"]
	path = Examples/threejs-intro
	url = https://github.com/davidlyons/threejs-intro.git
[submodule "Examples/HTML-GL"]
	path = Examples/HTML-GL
	url = https://github.com/PixelsCommander/HTML-GL.git
[submodule "Libraries/webgl-heatmap"]
	path = Libraries/webgl-heatmap
	url = https://github.com/pyalot/webgl-heatmap.git
[submodule "Libraries/pragmatic-pbr"]
	path = Libraries/pragmatic-pbr
	url = https://github.com/vorg/pragmatic-pbr.git
[submodule "Examples/dom-to-image"]
	path = Examples/dom-to-image
	url = https://github.com/tsayen/dom-to-image.git
[submodule "Examples/react-konva"]
	path = Examples/react-konva
	url = https://github.com/konvajs/react-konva.git
[submodule "Examples/rasterizeHTML.js"]
	path = Examples/rasterizeHTML.js
	url = https://github.com/cburgmer/rasterizeHTML.js.git
[submodule "Examples/electron-threejs-example"]
	path = Examples/electron-threejs-example
	url = https://github.com/jeromeetienne/electron-threejs-example.git
[submodule "Examples/BabylonJS-Electron"]
	path = Examples/BabylonJS-Electron
	url = https://github.com/justinctlam/BabylonJS-Electron.git
[submodule "Examples/Electronylon"]
	path = Examples/Electronylon
	url = https://github.com/mmmeff/Electronylon.git
[submodule "Examples/infragram-js"]
	path = Examples/infragram-js
	url = https://github.com/bgamari/infragram-js.git
[submodule "Examples/HTML5-Face-Detection"]
	path = Examples/HTML5-Face-Detection
	url = https://github.com/wesbos/HTML5-Face-Detection.git
[submodule "Examples/depthcamera-pointcloud-web-demo"]
	path = Examples/depthcamera-pointcloud-web-demo
	url = https://github.com/01org/depthcamera-pointcloud-web-demo.git
[submodule "Examples/eventide"]
	path = Examples/eventide
	url = https://github.com/prayasht/eventide.git
[submodule "Examples/react-canvas"]
	path = Examples/react-canvas
	url = https://github.com/Flipboard/react-canvas.git
[submodule "Libraries/ami"]
	path = Libraries/ami
	url = https://github.com/FNNDSC/ami.git
[submodule "Libraries/WebGL-Inspector"]
	path = Libraries/WebGL-Inspector
	url = https://github.com/benvanik/WebGL-Inspector.git
[submodule "Libraries/WebGL"]
	path = Libraries/WebGL
	url = https://github.com/KhronosGroup/WebGL.git
[submodule "Libraries/I2Djs"]
	path = Libraries/I2Djs
	url = https://github.com/I2Djs/I2Djs.git
[submodule "Examples/potree"]
	path = Examples/potree
	url = https://github.com/potree/potree.git
[submodule "Examples/sculptgl"]
	path = Examples/sculptgl
	url = https://github.com/stephomi/sculptgl.git
[submodule "Examples/webgl-filter"]
	path = Examples/webgl-filter
	url = https://github.com/evanw/webgl-filter.git
[submodule "Examples/webgl-image-filter"]
	path = Examples/webgl-image-filter
	url = https://github.com/slub/webgl-image-filter.git
[submodule "Examples/WebGLImageFilter"]
	path = Examples/WebGLImageFilter
	url = https://github.com/phoboslab/WebGLImageFilter.git
[submodule "Examples/ngl"]
	path = Examples/ngl
	url = https://github.com/arose/ngl.git
[submodule "Libraries/darkroomjs"]
	path = Libraries/darkroomjs
	url = https://github.com/MattKetmo/darkroomjs.git
[submodule "Libraries/fabric.js"]
	path = Libraries/fabric.js
	url = https://github.com/fabricjs/fabric.js.git
[submodule "Examples/photo-editor"]
	path = Examples/photo-editor
	url = https://github.com/samuxyz/photo-editor.git
[submodule "Examples/plasio"]
	path = Examples/plasio
	url = https://github.com/verma/plasio.git
[submodule "Examples/WebGLVolumeRendering"]
	path = Examples/WebGLVolumeRendering
	url = https://github.com/lebarba/WebGLVolumeRendering.git
